.QuestionScreen{
    display: flex;
    margin: auto;
    padding:25px;
    background-color:#FFF;
}

.leftInfoBlock{
    border-left: thick solid #80C0E4;
    display: flex;
    flex-direction: column;
    border-radius: 10px 0 0 0;
    flex: 0 0 calc(40% - 25px);
    margin-right: 25px;
}

.question{
    text-align: center;
}

.questionsCountInfo{
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    padding-left: 5px;
}

.rightInfoBlock{
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.answersWrapper
{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    
}

.answer
{
    box-shadow: 0 1px 0 0  #dce1e6, 0 0 0 1px  #e7e8ec;
    background-color: #abdaf5;
    border-radius: 4px;
    font-family: inherit;
    align-self: center;
}

.answers{
    margin-bottom: 10px;
    height: 52px;
    width: 155px;
}
.answers:last-child{
    margin-bottom: 0;
}


.answer:last-child{

    margin-right: 0;
}

.answer:hover{
    background-color: #dce1e6;
    transition:0.4s;
}

.questionControlGroup{
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
}

.questionControl{
    margin-right: 10px;
    height: 52px;
    width: 155px;
    padding-left: 10px;
    padding-right: 10px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background:#80C0E4;
    border-radius: 7px;
}

@media screen and (max-width:580px) {
    .QuestionScreen{
        flex-direction: column;
    }

    .leftInfoBlock{
        margin-bottom: 15px;
        border-bottom: 1px solid #80C0E4;
        border-left: 0;
        justify-content: center;
        margin-right: 0;
    }
    
    .questionControlGroup{
        justify-content: center;
    }

    
}

