.HsWrapper {
    background-color: #FFF;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}


.variants {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
    font-family: inherit;
}

.startQuizBtn{
    box-shadow: 0 1px 0 0  #dce1e6, 0 0 0 1px  #e7e8ec;
    background-color: #abdaf5;
    border-radius: 4px;
    font-family: inherit;
    align-self: center;
    height: 52px;
    width: 155px;
}
.startQuizBtn:hover{
    background-color: #dce1e6;
    transition:0.4s;
}